.App {
  background-image: url(https://github.com/DeanLeong/The-Office/blob/main/officePictures/office.jpg?raw=true);
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.quote {
  width: 300px;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: peachpuff;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: peachpuff;
}

.update-form {
  width: 280px;
  max-width: 280px;
}
